* {
    bg-col:          #1c2024f2;
    bg-col-light:    #272a2e;
    border-col:      #8c9198;
    selected-col:    #0b4a72;
    on-selected:     #cde5ff;
    text-col:        #e0e2e8;
    text-alt:        #c2c7cf;
    accent-col:      #9acbfa;
}
